<%= error_messages_for(@user) %>

 <!-- partial for new and edit User -->
<table summary="User form fields">
  <tr>
    <th><%= f.label(:first_name) %></th>
    <td><%= f.text_field(:first_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:last_name) %></th>
    <td><%= f.text_field(:last_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= f.label(:password) %></th>
    <td><%= f.password_field(:password) %></td>
  </tr>
  <tr>
    <th><%= f.label(:password_confirmation) %></th>
    <td><%= f.password_field(:password_confirmation) %></td>
  </tr>
 <tr>
    <th><%= f.label(:major) %></th>
    <td><%= f.text_field(:major) %></td>
  </tr>
   <tr>
    <th><%= f.label(:year) %></th>
    <td><%= f.select(:year, ['Freshman', 'Sophmore',
     'Junior', 'Senior']) %></td>
  </tr>
    <tr>
      <th><%= f.label :picture %><br/></th>
      <td><%= f.file_field :avatar %></td>
    </tr>
</table>
