
<!-- Partial that displays the filtered events -->
<table class="event_list_table">
  <tr class="header">
  <!-- <th>&nbsp;</th> -->
    <th>Event Name</th>
    <th>Start</th>
    <th>End</th>
    <th style="width: 4em"></th> <!-- empty column, but a little wide for 'details' in cells below -->
  </tr>

    <% if @filtered.empty? %>
        <tr class="odd">
            <td colspan="4">There are currently no events for this category or search.</td>
        </tr>
    <% else %>
        <% @filtered.each do |event| %>

            <tr class="<%= cycle('odd', 'even') %>">
                <td id = 'event-name'>
                    <%= event.event_name %></td>
                <td id = 'event-start'>
                    <%= event.start_time.strftime("%B %d at %I:%M %p") %></td>
                <td id = 'event-end'>
                    <% if event.start_time.to_date == event.end_time.to_date %>
                        <%= event.end_time.strftime("%I:%M %p") %>
                    <% else %>
                        <%= event.end_time.strftime("%B %d at %I:%M %p") %>
                    <% end %>
                <td class="actions">
                    <%= link_to("Details", event_path(event.id), :class => 'action show') %> </td>
            </tr>
        <% end %>
    <% end %>

    <% Rails.logger.debug("IN VIEW #{params[:cat]}") %>

</table>
<%= will_paginate @filtered, :remote => true, :params => { :cat => params[:cat], :query => params[:query] } %>
