
<!-- Partial that displays the filtered events -->
<table class="fixed">
  <tr class="header">
  <!-- <th>&nbsp;</th> -->
    <th id = 'col1'>Event Name</th>
    <th id = 'col2'>Date and Time</th>
    <th id = 'col3'>Actions</th>
  </tr>


  <!-- <div> -->

    <% if @filtered.empty? %>
        <tr class="odd">
            <td colspan="3">There are currently no events for this category or search.</td>
        </tr>
    <% else %>
        <% @filtered.each do |event| %>
            <tr class="<%= cycle('odd', 'even') %>">
                <td id = 'event-name'>
                    <%= event.event_name %></td>
                <td id = 'event-date'>
                    <%= event.start_time.strftime("%B %d, '%y at %I:%M") %></td>
                <td class="actions">
                    <%= link_to("More Information", event_path(event.id), :class => 'action show') %> </td>
            </tr>
        <% end %>
    <% end %>

    <% Rails.logger.debug("IN VIEW #{params[:cat]}") %>

</table>
<%= will_paginate @filtered, :remote => true, :params => { :cat => params[:cat], :query => params[:query] } %>
