<%= error_messages_for(@event) %>

 <!-- Form for a new event. Will also be used for edit -->
<table class="form_table" summary="Event form fields">
  <tr>
    <th><%= f.label(:event_name) %></th>
    <td><%= f.text_field(:event_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:location) %></th>
    <td><%= f.text_field(:location) %></td>
  </tr>
  <tr>
    <th><%= f.label(:event_description, 'Description') %></th>
    <td><%= f.text_area(:event_description, :size => '40x10')%></td>
  </tr>
  <tr>
    <th><%= f.label(:start_time) %></th>
    <!-- TODO validate that it's after right now -->
    <!-- TODO see if field_with_errors is styled correctly
         for this (currently only in scaffolds.css) -->
    <td><%= f.datetime_select(:start_time, ampm: true, minute_step: 15, start_year: Time.new.year,
                              end_year: Time.new.year+1, :order => [:month, :day, :year]) %></td>
  </tr>
   <tr>
    <th><%= f.label(:end_time) %></th>
    <!-- TODO validate that it's after start_time, and
         less than event max time if we want a max time -->
    <td><%= f.datetime_select(:end_time, ampm: true, minute_step: 15, start_year: Time.new.year,
                              end_year: Time.new.year+1, :order => [:month, :day, :year]) %></td>
  </tr>
  <tr>
    <th><%= f.label(:category) %></th>
    <td><%= f.select(:category, ['Social', 'Academic',
     'Sports and Recreation', 'Arts', 'Religion']) %></td>
  </tr>
</table>
