

<% @page_title = "Events" %>

<div class="events index">

  <h2>Events On Campus</h2>
  <!-- Create filter buttons. Handled in filter actions -->

  <table class = 'filter-btns'>
    <tr>
      <td> <%= button_to "All", filter_events_path, :remote => true, name: "cat"%> </td>
      <td> <%= button_to "Social", filter_events_path, :remote => true, name: "cat"%> </td>
      <td> <%= button_to "Academic", filter_events_path, :cat => 2, :remote => true, name: "cat" %> </td>
      <td> <%= button_to "Sports and Recreation", filter_events_path, :cat => 3, :remote => true, name: "cat" %> </td>
      <td> <%= button_to "Arts", filter_events_path, :cat => 4, :remote => true, name: "cat" %> </td>
      <td> <%= button_to "Religion", filter_events_path, :cat => 5, :remote => true, name: "cat" %> </td>
    </tr>
  </table>

 <%= form_tag search_events_path,:remote => true, :method => :get do %>
  <p>
    <%= text_field_tag :query, params[:query], :remote => true %>
     <%= submit_tag "Search!", :remote => true %>
  </p>
<% end %>


  <div><%#= pluralize(@events.size, 'event') %></div>
   <!-- Display Events table (same as Pages index display in Exercise Files)
        todo: We should probably render the _filtered_events partial here for DRY code -->
  <div class = 'events-list'>
    <table class="fixed">
      <tr class="header">
      <!-- <th>&nbsp;</th> -->
        <th id = 'col1'>Event Name</th>
        <th id = 'col2'>Date and Time</th>
        <th id = 'col3'>Details</th>
      </tr>

      <% @events.each do |event| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td id = 'event-name'><%= event.event_name %></td>
        <td id = 'event-date'><%= event.start_time.strftime("%B %d, '%y at %I:%M") %></td>
        <td class="actions"> <%= link_to("More Information", event_path(event.id), :class => 'action_show') %> </td>
      </tr>
      <% end %>

    </table>
  </div>

</div>
