
<%= link_to("<< Back to List", events_path, :class => 'back-link') %>

<h1>Event Details</h1>
 <% Rails.cache.clear %>
 <% #cache @user_object do %>
<% creator = User.find(@event.creator_id) %>


 <!-- Display an Event's information. Nothing to complicated here -->
<p class><%= "Event Name: #{@event.event_name}" %></p>
<p><%= @event.start_time.strftime("%B %d, '%y at %I:%M") %></p>
<p><%= @event.end_time.strftime("%B %d, '%y at %I:%M") %></p>
<p><%= "Event Category: #{@event.category}" %></p>
<p><%= "Event Description: #{@event.event_description}" %></p>
<p><%= "Creator: "%><%= link_to "#{creator.first_name} #{creator.last_name}", creator %></p>

<% if @user.id == creator.id %>
	<%= link_to "Edit Event", edit_event_path(@event) %></br>

      <%= button_to "Delete Event", {:controller => :events,
      :action => 'destroy', :id => @event.id }, :method => :delete, data: { confirm: "Are you sure?" }  %>
<% end %>


<p><%= "Attendees: " %></p>


<span id = 'attendees-list'>

 <!-- Display each attendee of the event-->
<% attendees = @event.users %>

	<%= render(:partial => 'attendees_list', :locals => { :attendees => attendees }) %>

</span>

 <!-- Handle button text. Attend if user is currently attending, Unattend otherwise -->
<% button_text = Hash.new() %>
<% button_class = Hash.new() %>
<% set_buttons(button_text, button_class) %>


 <!-- Handle adding a user to events with javascript. Calls attend, watch, or neither action -->
 <!-- TODO put these on one line; make their width all the same -->
<%= button_to button_text["attend"], attend_event_path(@event), :remote => true,  :id => "attend", :class => button_class["attend"] %>
<%= button_to button_text["watch"], watch_event_path(@event), :remote => true,  :id => "watch", :class => button_class["watch"] %>
<%= button_to button_text["neither"], neither_event_path(@event), :remote => true,  :id => "neither", :class => button_class["neither"] %>
