<!DOCTYPE html>
<html>
<head>

  <title>CampusEvents <%= " | #{@page_title}" if @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>

</head>
<body >
   <div id="header">
       <%= image_tag("Middlebury_Panthers_logo.png", alt: "Panthers Logo", height: '75px', width: '175px') %>
    </div>

    <% if !flash[:notice].blank? %>
        <div class="notice">
            <%= flash[:notice] %>
            <br><br>
        </div>
    <% end %>

    <table class = 'menu_table'>
      <tr>
        <td> <%= link_to("My Profile", user_path(session[:user_id]))%> </td>
        <td> <%= link_to("Create an Event", new_event_path)%> </td>
        <td> <%= link_to("Find Events", events_path)%> </td>
        <td> <%= link_to("My Created Events", myevents_user_path(session[:user_id]))%> </td>
        <td> <%= link_to("Sign out", :controller => 'access', :action => 'logout')%> </td>
      </tr>
    </table>

    <%= yield %>

</body>
</html>
